body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set Context Help styles */
.contexthelp {
    font-size:14px
}
.contexthelp-enabled {
    color: dodgerblue;     
}
.contexthelp-disabled {
    color: lightgray;
}
.contexthelp-hidden {
    color: transparent;
}
.contexthelp-editor {
    color: gray; 
    text-decoration: none
}

/* Override bootstrap's popover styles */
.popover {
    z-index: 1030;
}
.popover-title {
    font-weight: bold;
}

/* Override bootstrap's tooltip styles */
.tooltip-inner {
    color: #000000;
    background-color: ghostwhite;
    border-radius: 2px;
    border-color: darkgray;
    border-style: solid;
    border-width: thin;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}
.tooltip.bottom, .tooltip.top, .tooltip.left, .tooltip.right {
    margin-top: 0px;
    margin-left: 0px;
}
/* Hide the tooltip arrow */
.tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow {
    border-top-color: transparent;
}
.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: transparent;
}
.tooltip.right .tooltip-arrow {
    border-right-color: transparent;
}
.tooltip.left .tooltip-arrow {
    border-left-color: transparent;
}

